.image-holder {
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    height: 900px;
    width: 450px;
    background-color: black;
}

.container-holder {
    display: flex;
    justify-content: center;
}